[submodule "pas-cg/ext/nitro"]
	path = cg/ext/nitro
	url = https://github.com/vitreusx/nitro
	update = merge
[submodule "pas-cg/ext/ioxx"]
	path = cg/ext/ioxx
	url = https://github.com/vitreusx/ioxx
	update = merge
